.Rproj.user
.Rhistory
.RData
.Ruserdata
Balsa & Triunfo (2015) - Aseguramiento público, provisión privada impacto en el acceso a servicios perinatales y en la salud del recién nacido - UM CEE.pdf
Carátula.docx
Carátula.pdf
18.211.pdf
Cronograma trabajo.pdf
Cuadros Muestreo.pdf
Cuadros Muestreo.xlsx
Cuestionario.docx
Documento.docx
Presentación muestreo 1.pdf
Presentación muestreo 1.pptx
Trabajo Muestreo I.docx
Trabajo Muestreo I.pdf
/Notas docentes/